.Accordian1{
   text-align: center;
    
}

.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.Title h3{
    margin-right: 3rem;
}

.Accordian1 p{
    color: gray;
    width: 50%;
    margin: 0 auto;
}

.Multi{
    display: block;
    margin: 0 auto;
    padding:10px 5px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;

}